{
    "name" : "Brad Figg",
    "email-address" : "Brad Figg <brad.figg@canonical.com>",
    "irc-aliases" : {
        "bjf"       : "Brad Figg <brad.figg@canonical.com>",
	"smb"       : "Stefan Bader <stefan.bader@canonical.com>",
	"sconklin"  : "Steve Conklin <sconklin@canonical.com>",
	"apw"       : "Andy Whitcroft <andy.whitcroft@canonical.com>",
	"rtg"       : "Tim Gardner <tim.gardner@canonical.com>",
	"amitk"     : "Amit Kucheria <amit.kucheria@canonical.com>",
	"manjo"     : "Manoj Iyer <manoj.iyer@canonical.com>",
	"jj"        : "John Johansen <john.johansen@canonical.com>",
	"ogasawara" : "Leann Ogasawara <leann.ogasawara@canonical.com>",
	"jfo"       : "Jeremy Foshee <jaremy.foshee@canonical.com>",
	"mpoirier"  : "Mathieu Poirier <mathieu.poirier@canonical.com>",
	"lag"       : "Lee Jones <lee.jones@canonical.com>",
	"cking"     : "Colin King <colin.king@canonical.com>",
	"ikepanhc"  : "Ike Panhc <ike.pan@canonical.com>",
	"cooloney"  : "Bryan Wu <bryan.wu@canonical.com>",
	"lexical"   : "Keng-Yu Lin <keng-yu.lin@canonical.com>",
	"ericm"     : "Eric Miao <eric.miao@canonical.com>",
	"acelan"    : "Chia-Lin Kao <acelan.kao@canonical.com>",
	"jk"        : "Jeremy Kerr <jeremy.kerr@canonical.com>",
	"cnd"       : "Chase Douglas <chase.douglas@canonical.com>",
	"kamal"     : "Kamal Mostafa <kamal@canonical.com>",
	"vanhoof"   : "Chris Van Hoof <vanhoof@canonical.com>",
	"diwic"     : "David Henningsson <david.henningsson@canonical.com>",
	"hughhalf"  : "Hugh Blemings <hugh@canonical.com>",
	"pgraner"   : "Pete Graner <pgraner@canonical.com>",
	"sforshee"  : "Seth Forshee <seth.forshee@canonical.com>",
	"ppisati"   : "Paolo Pisati <paolo.pisati@canonical.com>",
	"herton"    : "Herton Krzesinski <herton.krzesinski@canonical.com>"
    }
}
