{
    "app_name": "./proc-new-bugs", 
    "bugs_database": {
        "packages": {
            "linux": {
                "bugs": {}
            }, 
            "linux-backports-modules-2.6.32": {
                "bugs": {}
            }, 
            "linux-fsl-imx51": {
                "bugs": {}
            }, 
            "linux-lts-backport-maverick": {
                "bugs": {}
            }, 
            "linux-meta": {
                "bugs": {}
            }, 
            "linux-restricted-modules-2.6.24": {
                "bugs": {}
            }, 
            "linux-ti-omap4": {
                "bugs": {}
            }
        }, 
        "updated": "Friday, 16. September 2011 16:14 UTC"
    }, 
    "configuration_file": "new.rc", 
    "launchpad_client_name": "lpltk.kernel.ProcNewBugs", 
    "search-criteria-status": [
        "New"
    ], 
    "search-criteria-tags": [
        "-kernel-cve-tracking-bug",
	"-kernel-stable-next",
	"-kernel-release-tracking-bug"
    ],
    "search_all": false, 
    "show": true, 
    "update-config": true, 
    "verbose": true
}
