/* tables */
table.tablesorter {
       background: #000000;
            color: #ffffff;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #3d3d3d;
            color: #ffffff;
	border: 1px solid #000000;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg-bjf.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #ffffff;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody td a:link {
     color: #99ff00;   /* Lime green     */
}
table.tablesorter tbody td a:hover {
     color: #00ff00;   /* Lime green     */
}
table.tablesorter tbody td a:visited {
     color: #00ff00;   /* Lime green     */
}
table.tablesorter tbody td a:active {
     color: #00ff00;   /* Lime green     */
}
table.tablesorter tbody tr.even td {
	background-color: #5d5d5d;
}
table.tablesorter tbody tr.odd td {
	background-color: #6e6e6e;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc-bjf.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc-bjf.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #4d4d4d;
}
