[Desktop Entry]
Type=Application
Exec=/home/ubuntu/tests_first_stage
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Kernel QA
Name=kernel-qa
Comment[en_US]=Kernel QA
Comment=Kernel QA

