[Desktop Entry]
Type=Application
Exec=sleep 30;gnome-terminal -e /home/ubuntu/kernel-qa/kernel-qa
Hidden=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Kernel QA
Name=kernel-qa
Comment[en_US]=Kernel QA
Comment=Kernel QA

