Package: linux-backports-modules
Source: linux-meta
Version: 2.6.24.2.1
Architecture: i386
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Installed-Size: 52
Depends: linux-backports-modules-generic
Section: metapackages
Priority: optional
Description: Generic Linux backported drivers.
 This package will always depend on the latest generic Linux backported
 drivers available.
