Source: linux-ports-meta
Section: devel
Priority: optional
Maintainer: Ubuntu Kernel Team <kernel-team@lists.ubuntu.com>
Standards-Version: 3.6.1
Build-Depends: dpkg (>= 1.13.19), debhelper (>= 3), gawk

Package: linux
Architecture: ia64 sparc
Section: restricted/metapackages
Priority: optional
Depends: linux-image (= ${binary:Version})
Description: Generic complete Linux kernel.
 This package will always depend on the latest generic complete Linux kernel
 available.

Package: linux-image
Architecture: ia64 sparc
Section: metapackages
Priority: optional
Depends: linux-image-${generic-depends} (= ${binary:Version})
Description: Generic Linux kernel image.
 This package will always depend on the latest generic Linux kernel image
 available.

#
# Itanium (generic)
#
Package: linux-ia64
Architecture: ia64
Section: metapackages
Priority: optional
Depends: linux-image-ia64 (= ${binary:Version})
Description: Complete Linux kernel on Itanium.
 This package will always depend on the latest complete Linux kernel available
 for Itanium.

Package: linux-image-ia64
Architecture: ia64
Section: metapackages
Priority: optional
Depends: linux-image-${kernel-abi-version}-ia64, linux-firmware
Description: Linux kernel image on Itanium
 This package will always depend on the latest kernel image available
 for Itanium.

Package: linux-headers-ia64
Architecture: ia64
Section: devel
Priority: optional
Depends: linux-headers-${kernel-abi-version}-ia64
Description: Linux kernel headers on Itanium
 This package will always depend on the latest kernel headers available
 for Itanium.

Package: linux-itanium
Architecture: ia64
Section: metapackages
Priority: optional
Depends: linux-ia64 (= ${binary:Version})
Description: Obsoleted by: linux-ia64
 This package is only for upgrades.

Package: linux-mckinley
Architecture: ia64
Section: metapackages
Priority: optional
Depends: linux-ia64 (= ${binary:Version})
Description: Obsoleted by: linux-ia64
 This package is only for upgrades.

Package: linux-image-itanium
Architecture: ia64
Section: metapackages
Priority: optional
Depends: linux-image-ia64 (= ${binary:Version})
Description: Obsoleted by: linux-image-ia64
 This package is only for upgrades.

Package: linux-image-mckinley
Architecture: ia64
Section: metapackages
Priority: optional
Depends: linux-image-ia64 (= ${binary:Version})
Description: Obsoleted by: linux-image-ia64
 This package is only for upgrades.

Package: linux-headers-itanium
Architecture: ia64
Section: metapackages
Priority: optional
Depends: linux-headers-ia64 (= ${binary:Version})
Description: Obsoleted by: linux-headers-ia64
 This package is only for upgrades.

Package: linux-headers-mckinley
Architecture: ia64
Section: metapackages
Priority: optional
Depends: linux-headers-ia64 (= ${binary:Version})
Description: Obsoleted by: linux-headers-ia64
 This package is only for upgrades.

#
# PowerPC64-SMP
#
Package: linux-powerpc64-smp
Architecture: powerpc
Section: restricted/metapackages
Priority: optional
Depends: linux-image-powerpc64-smp (= ${binary:Version})
Description: Complete Linux kernel on PowerPC64 SMP.
 This package will always depend on the latest complete Linux kernel available
 for PowerPC64 with SMP support.
 SMP (symmetric multi-processing) is needed if you have multiple processors.

Package: linux-image-powerpc64-smp
Architecture: powerpc
Section: metapackages
Priority: optional
Depends: linux-image-${kernel-abi-version}-powerpc64-smp, linux-firmware
Description: Linux kernel image on PowerPC64 SMP.
 This package will always depend on the latest kernel image available
 for PowerPC64 with SMP support.
 SMP (symmetric multi-processing) is needed if you have multiple processors.

Package: linux-headers-powerpc64-smp
Architecture: powerpc
Section: devel
Priority: optional
Depends: linux-headers-${kernel-abi-version}-powerpc64-smp
Description: Linux kernel headers on PowerPC64 SMP
 This package will always depend on the latest kernel headers available
 for PowerPC64 with SMP support.
 SMP (symmetric multi-processing) is needed if you have multiple processors.

#
# PowerPC
#
Package: linux-powerpc
Architecture: powerpc
Section: restricted/metapackages
Priority: optional
Depends: linux-image-powerpc (= ${binary:Version})
Description: Complete Linux kernel on PowerPC.
 This package will always depend on the latest complete Linux kernel available
 for PowerPC.

Package: linux-image-powerpc
Architecture: powerpc
Section: metapackages
Priority: optional
Depends: linux-image-${kernel-abi-version}-powerpc, linux-firmware
Description: Linux kernel image on PowerPC
 This package will always depend on the latest kernel image available
 for PowerPC support.

Package: linux-headers-powerpc
Architecture: powerpc
Section: devel
Priority: optional
Depends: linux-headers-${kernel-abi-version}-powerpc
Description: Linux kernel headers on PowerPC
 This package will always depend on the latest kernel headers available
 for PowerPC.

#
# PowerPC-SMP
#
Package: linux-powerpc-smp
Architecture: powerpc
Section: restricted/metapackages
Priority: optional
Depends: linux-image-powerpc-smp (= ${binary:Version})
Description: Complete Linux kernel on PowerPC SMP.
 This package will always depend on the latest complete Linux kernel available
 for PowerPC with SMP support.
 SMP (symmetric multi-processing) is needed if you have multiple processors.

Package: linux-image-powerpc-smp
Architecture: powerpc
Section: metapackages
Priority: optional
Depends: linux-image-${kernel-abi-version}-powerpc-smp, linux-firmware
Description: Linux kernel image on PowerPC SMP.
 This package will always depend on the latest kernel image available
 for PowerPC with SMP support.
 SMP (symmetric multi-processing) is needed if you have multiple processors.

Package: linux-headers-powerpc-smp
Architecture: powerpc
Section: devel
Priority: optional
Depends: linux-headers-${kernel-abi-version}-powerpc-smp
Description: Linux kernel headers on PowerPC SMP
 This package will always depend on the latest kernel headers available
 for PowerPC with SMP support.
 SMP (symmetric multi-processing) is needed if you have multiple processors.


#
# sparc64
#
Package: linux-sparc64
Architecture: sparc
Section: metapackages
Priority: optional
Depends: linux-image-sparc64 (= ${binary:Version})
Description: Complete Linux kernel on sparc64.
 This package will always depend on the latest complete Linux kernel available
 for the UltraSparc architecture.

Package: linux-image-sparc64
Architecture: sparc
Section: metapackages
Priority: optional
Depends: linux-image-${kernel-abi-version}-sparc64, linux-firmware
Description: Linux kernel image on UltraSparc
 This package will always depend on the latest kernel image available
 for UltraSparc.

Package: linux-headers-sparc64
Architecture: sparc
Section: devel
Priority: optional
Depends: linux-headers-${kernel-abi-version}-sparc64
Description: Linux kernel headers on UltraSparc
 This package will always depend on the latest kernel headers available
 for UltraSparc.

#
# sparc64-smp
#
Package: linux-sparc64-smp
Architecture: sparc
Section: metapackages
Priority: optional
Depends: linux-image-sparc64-smp (= ${binary:Version})
Description: Complete Linux kernel on UltraSparc (SMP)
 This package will always depend on the latest complete Linux kernel available
 for the UltraSparc (SMP) architecture.

Package: linux-image-sparc64-smp
Architecture: sparc
Section: metapackages
Priority: optional
Depends: linux-image-${kernel-abi-version}-sparc64-smp, linux-firmware
Description: Linux kernel image on UltraSparc (SMP)
 This package will always depend on the latest kernel image available
 for UltraSparc (SMP).

Package: linux-headers-sparc64-smp
Architecture: sparc
Section: devel
Priority: optional
Depends: linux-headers-${kernel-abi-version}-sparc64-smp
Description: Linux kernel headers on UltraSparc (SMP)
 This package will always depend on the latest kernel headers available
 for UltraSparc (SMP).


